/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 13, 2022, 11:16:17 AM
    Author     : leonardozanotti
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    background-color: #e3e3e3;
    margin: 10% 25%;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.input-label {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 80px;
}

.img-container {
    display: flex;
    justify-content: center;
    max-width: 200px;
}