/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/07/2021, 21:37:54
    Author     : jessi
*/

body {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;
}
body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
  background-color: #FFFFE0;
}

.wrapper{
  min-height: 670px;
}

.page-extra{
  background: white;
}

.login-form {
  width: 100%;
  padding: 2em;
  position: relative;
  background: #252525;
  margin: 50px auto;
}

@media screen and (min-width: 600px) {
  .login-form {
    width: 50vw;
    max-width: 15em;
  }
}

.form {
  width: 100%;
  padding: 2em;
  position: relative;
  border-radius: 10px 20px;
  margin: 50px auto;
  background-color: #FFF1;
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.lf--label {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
  cursor: pointer;
  margin: 0;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
}

.lf--submit {
  display: block;
  padding: 1em;
  width: 100%;
  background: #c2ba63;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
}
.lf--submit:hover {
  outline: none;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lf--forgot {
  margin-top: 1em;
  color:  #c2ba63;
  font-size: .65em;
  text-align: center;
  position: relative;
}

::-webkit-input-placeholder {
  color: #8f8f8f;
}

:-ms-input-placeholder {
  color: #8f8f8f;
}

::-ms-input-placeholder {
  color: #8f8f8f;
}

::placeholder {
  color: #8f8f8f;
}

.top-section{
  background:#252525;
  width: 100%;
  height: 80px;
  color:  #c2ba63;
}

.main-logo{
  fill: #fff;
}

.logo{
  margin-left: 15px;
}

.login{
  margin: auto;
}

.table, th, td, tr {
  border: 2px solid #1d2031;
  margin-top: 50px;
  
}

.footer{
  width: 100%;
  padding: 2em;
  position: relative;
  margin: 50px auto;
}

.buttons{
  background:#252525;
  color:  #c2ba63;
    
}