/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 de jan. de 2022, 18:14:30
    Author     : jessg
*/


body {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;
}
body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
}

.wrapper{
  min-height: 670px;
}

.page-extra{
  background: white;
}

.login-form {
  width: 100%;
  padding: 2em;
  position: relative;
  background: #1d2031;
  margin: 50px auto;
}

.login-form-alert {
  width: 100%;
  padding: 2em;
  position: relative;
  border: 2px solid #1d2031;
  margin: 50px auto;
}


@media screen and (min-width: 600px) {
  .login-form {
    width: 50vw;
    max-width: 15em;
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.lf--label {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
  cursor: pointer;
  margin: 0;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
}

.lf--submit {
  display: block;
  padding: 1em;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #00d6b7);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.lf--submit:hover {
  outline: none;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lf--forgot {
  margin-top: 1em;
  color: #00d6b7;
  font-size: .65em;
  text-align: center;
  position: relative;
}

::-webkit-input-placeholder {
  color: #8f8f8f;
}

:-ms-input-placeholder {
  color: #8f8f8f;
}

::-ms-input-placeholder {
  color: #8f8f8f;
}

::placeholder {
  color: #8f8f8f;
}

.top-section{
  background: #1d2031;
  width: 100%;
  height: 80px;
  color: #f1f1f1;
}

.main-logo{
  fill: #fff;
}

.logo{
    margin-right: 15px;
  width: 100%;
}

.login{
  margin: auto;
}

.logout-btn {
    color: white;
    text-decoration: none; /* no underline */
}

.logout-btn:hover {
    color: gray;
    text-decoration: none;
}

.table, th, td, tr {
  border: 2px solid #1d2031;
  margin-top: 50px;
}

a, p {
    font-size: 23px;
}